html {
  font-size: clamp(14px, 2vw, 16px);
}

h1 {
  font-size: clamp(32px, 3vw, 40px);
}

h3 {
  font-size: clamp(24px, 3vw, 32px);
}

.text-custom {
  color: #343a40;
}

.bg-custom {
  background-color: #f8f9fa;
  border: 1px solid #adb5bd;
}

.btn-custom {
  background-color: #588b8b;
  color: whitesmoke;
}

.btn-custom-2 {
  background-color: #c8553d;
  color: whitesmoke;
}

.btn-custom-3 {
  background-color: #f28f3b;
  color: whitesmoke;
}

.item-enter {
  transform: translate(-1000px, 0px);
}
.item-enter-active {
  transform: translate(0px, 0px);
  transition: all 1s;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-in;
}

.center-items {
  display: grid;
  place-items: center;
  min-height: 80vh;
}
