html {
  font-size: clamp(14px, 2vw, 16px);
}

h1 {
  font-size: clamp(20px, 3vw, 40px);
}

h3 {
  font-size: clamp(18px, 3vw, 32px);
}

.item-enter {
  transform: translate(-1000px, 0px);
}
.item-enter-active {
  transform: translate(0px, 0px);
  transition: all 1s;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-in;
}

.center-items {
  display: grid;
  place-items: center;
  min-height: 80vh;
}
